{% extends "base.html" %}

{% load static %}

{% load crispy_forms_tags %}

{% block head_title %}
    Submit your address details
{% endblock %}

{% block extra_head %}

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    
<style>
    #map {
        height: 400px;
        width: 100%;
    }

    #dp_add {
        cursor: pointer;
    }
    @media screen and (min-width: 720px) {
        #ad_form {
            display: grid;
            grid-template-columns: 1fr 1fr;
        }
        #map {
            margin-left: 5px;
        }
    }
</style>
{% endblock %}

{% block content %}
    <br>
    <div id='ad_form'>
    <div class="card text-center">
        <div class="card-body">
    <br>
        <h3>Get my current location</h3>
        
        <button type="button"  data-toggle="collapse" data-target="#a_n" aria-expanded="false" aria-controls="collapseExample" class="btn btn-primary" id="access_location">Access my location</button>
        <br>
        <small>(click the button above to fill the fields automatically!)</small>
        <p id="a_n" class="collapse card card-body shadow-none">
            Please check the auto filled fields below.If they are not correct, change them manually.<br>
            (You can get your latitude and longitude from google maps.)
        </p>
        
    <br>

    <h5>OR do it manually.</h5>

    <form action="{% url 'barberapp:address' %}" method="POST" id="address_form" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="id_dp">
            <img id="dp_add" title="Add profile photo" alt="Add profile photo" src="{% static 'images/dp.png' %}" style="height: 150px; width: 150px;">
        </label>
        {{ form|crispy }}
        <br>
        
        <div id="e_no"></div>
        <br>
        <button type="submit" class="btn btn-success">Complete registration</button>
    </form>

</div>
</div>


<div id="map"></div>

</div>

<br>
<script>
    //setting the max and min for latitude and longtiude
    document.getElementById("id_latitude").setAttribute('max', '90');
    document.getElementById("id_latitude").setAttribute('min', '-90');
    document.getElementById("id_longitude").setAttribute('max', '180');
    document.getElementById("id_longitude").setAttribute('min', '-180');


    //Preview of the photo selected
    document.getElementById("id_dp").addEventListener("change", function() {
        const file = this.files[0];
        const dp_label = document.getElementById("dp_add");
        if(file) {
            const reader = new FileReader();

            reader.addEventListener("load", function() {
                dp_label.setAttribute("src", this.result);
            })
            reader.readAsDataURL(file);
        }else {
            dp_label.setAttribute("src", "{% static 'images/dp.png' %}")
        }
    });


    //Changing the address form
    var dp = document.getElementById("id_dp");
    dp.style.display = "none";

    document.getElementById("id_About").classList.add("form-control");


    document.getElementById("id_status").onchange = function() {
          
          var e_count = document.getElementById("e_no");
    
          if(e_count.innerHTML == '') {
              
              var input = document.createElement('input');
              input.type = 'number';
              input.name = 'employee_no';
              input.min = 1;
              input.required = true;
              input.title = 'How many barbers work under you (including you)?';
              e_count.innerHTML += 'How many barbers work under you (including you)?&ast; <br>';
              e_count.append(input);
              
            }
    else {
        e_count.innerHTML = '';
    }
};



//Running script only when user wants to give the access to their location
document.querySelector("#access_location").onclick = function() {
    
    //check if geolocation is accessible 
    if(navigator.geolocation) {

        //Getting the coordinates of the current position
        navigator.geolocation.getCurrentPosition(position => {
            var lt = position.coords.latitude;
            var ln = position.coords.longitude;

            document.getElementById("id_latitude").value = lt;
            document.getElementById("id_longitude").value = ln;
            
            //Reverse geocoding for converting coordinates into human readable address 
            axios.get(`https://api.opencagedata.com/geocode/v1/json?q=${lt}+${ln}&key=1b7da3b39f234fdcb3812a908a4dda8f`)
             .then(function(response) {
                 document.getElementById("id_address").value = response.data.results[0].formatted;
             })
             .catch(function(error) {
                 console.log(error);
             });
             
             //changing the center and maker on the map
             map = new google.maps.Map(document.getElementById("map"), {
                 center: {
                     lat: lt,
                     lng: ln
                    },
                    zoom: 8
                });
                marker = new google.maps.Marker({
                    position: {lat: lt, lng: ln},
                    map: map
            });
            
        })
    }
    else {
        console.log("There was some problem.")
    }
    
    

}

//Creating a map with center and marker at New York
var map;
var marker;
function initMap() {
    map = new google.maps.Map(document.getElementById("map"), {
        center: {
            lat: 40.6968391,
            lng: -74.2600267
        },
        zoom: 8
    });
    marker = new google.maps.Marker({
        position: {lat: 40.6968391, lng: -74.2600267},
        map: map
    });
};
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCQtLSpcjTP48RAp_w6xR5rgQd5btHiZdg&callback=initMap&libraries=&v=weekly"
      defer></script>
{% endblock %}