{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block head_title %}
    Change personal and address details here!
{% endblock %}

{% block extra_head %}

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>

<style>
    #dp_label:hover {
        cursor: pointer;
    }
</style>
{% endblock %}

{% block content %}
<br>

<div class="text-center">

<div class="card" id="update_form">
    <div class="card-header">
        <h3>Change your details here.</h3>
        <h5>Click on the field which you want to update.</h5>
    </div>
    <button class="btn btn-primary" type="button" id="access_my_location" style="float: left;">Use my current location</button>
    <div class="card-body">
    <form class="form-group" action="{% url 'barberapp:change_details' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
            <label for="dp_change">
                <img title="Change Profile Photo" id="dp_label" src="{{ usr.dp.url }}" alt="DP" style="height: 150px; width: 150px; border-radius: 50%;" >
            </label>
            <input style="display: none;" id="dp_change" name="DP" type="file" accept="image/*" class="detail form-control" readonly>
        <br>
        <input min="-90" max="90" id="updated_latitude" name="latitude" type="number" step="any" placeholder="Latitude" value="{{ usr.latitude }}" class="detail form-control" readonly>
        <br>
        <input min="-180" max="180" id="updated_longitude" name="longitude" type="number" step="any" value="{{ usr.longitude }}" placeholder="Longitude" class="detail form-control" readonly>
        <br id="ct">
        <input id="updated_address" name="address" placeholder="Address" type="text" value="{{ usr.address }}" class="detail form-control" readonly>
        <br>
        <input name="abt" type="text" placeholder="About" value="{{ usr.About }}" class="detail form-control" readonly>
        <br>
        <input name="ws" type="url" placeholder="Website" value="{{ usr.website }}" class="detail form-control" readonly>
        <br>
        {% if br %}
        <input name="en" type="number" placeholder="Employee Number (including you)." value="{{ usr.employee_no }}" class="detail form-control" readonly>
        {% endif %}
    <br>
    
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-success btn-lg" data-toggle="modal" data-target="#exampleModal">
        Save Changes
    </button>
    
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Save Changes</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
                <h3>Are you sure?</h3>
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-success">Save changes</button>
            </div>
        </div>
        </div>
    </div>
</form>

</div>

    <!-- Button trigger modal -->
    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal1">
        Delete my Account
    </button>
    
    <!-- Modal -->
    <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel1">Account Deletion</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
                <h3 style="text-align: center; color: red;">Alert!</h3>
                <h6 style="text-align: center; color: red;">(You can't reverse this action)</h6>
                <strong>If you are logged in as a user:</strong>
                <ul>
                    <li>All your user details will be deleted including email, username, address details etc.</li>
                    <li>All your appointments will be deleted.</li>
                </ul>
                <strong>If you are logged in as a barber:</strong>
                <ul>
                    <li>All your personal details will be deleted including email, username, address details etc.</li>
                    <li>All the appointments made by other users with you will be cancelled.</li>
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <form action="{% url 'barberapp:delete_account' %}" method="POST">
                    {% csrf_token %}
                <button type="submit" class="btn btn-danger">Permanently Delete my account</button>
                </form>
            </div>
        </div>
        </div>
    </div>


</div>
</div>
<br>

<script>

//Preview of the photo selected
document.getElementById("dp_change").addEventListener("change", function() {
    const file = this.files[0];
    const dp_label = document.getElementById("dp_label");
    if(file) {
        const reader = new FileReader();

        reader.addEventListener("load", function() {
            dp_label.setAttribute("src", this.result);
        })
        reader.readAsDataURL(file);
    }else {
        dp_label.setAttribute("src", "{{ usr.dp.url }}")
    }
});


//Making the details editable
document.querySelectorAll(".detail").forEach(detail => {
    detail.onclick = () => {
        detail.removeAttribute('readonly');
    };
});


document.getElementById("access_my_location").onclick = () => {
    if(navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(position => {
            var lt = position.coords.latitude;
            var ln = position.coords.longitude;

            document.getElementById("updated_latitude").value = lt;
            document.getElementById("updated_longitude").value = ln;
            
            //Reverse geocoding for converting coordinates into human readable address 
            axios.get(`https://api.opencagedata.com/geocode/v1/json?q=${lt}+${ln}&key=1b7da3b39f234fdcb3812a908a4dda8f`)
             .then(function(response) {
                 document.getElementById("updated_address").value = response.data.results[0].formatted;
             })
             .catch(function(error) {
                 console.log(error);
             });
        })
    }else {
        console.log("error")
    }
}
</script>
{% endblock %}